node_modules/

# Variables de entorno (credenciales)
.env

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Build (si algún día compilas algo)
dist/
build/